# CAP 5610 Homework 4

In [0]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.preprocessing import OrdinalEncoder

### Football Game Outcome Prediction using Naive Bayes Classifier

In [0]:
# Create data

train_data = {'Home/Away': [1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 
                             0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0], 
              'Top25': [0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 
                        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1], 
              'Media': ['NBC', 'ABC', 'NBC', 'NBC', 'ABC', 'NBC', 
                        'NBC', 'ABC', 'ABC', 'NBC', 'NBC', 'FOX', 
                        'ABC', 'NBC', 'NBC', 'NBC', 'ESPN', 'ABC', 'NBC', 
                        'NBC', 'CBS', 'NBC', 'NBC', 'ABC'], 
              'Win/Lose': [1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
                          1, 0, 0 , 1, 0, 1, 0, 0]}

In [19]:
# Create dataframe

train = pd.DataFrame(train_data)
train.head()

   Home/Away  Top25 Media  Win/Lose
0          1      0   NBC         1
1          0      0   ABC         1
2          1      1   NBC         1
3          1      0   NBC         1
4          0      1   ABC         0

In [0]:
# Encode the media feature, then extract independant and depedant variables seperately

train['Media'] = OrdinalEncoder(dtype=int).fit_transform(np.array(train['Media']).reshape(-1, 1))
Xtrain = train.drop('Win/Lose', axis=1, inplace=False)
Ytrain = train['Win/Lose']

In [21]:
train.head()

   Home/Away  Top25  Media  Win/Lose
0          1      0      4         1
1          0      0      0         1
2          1      1      4         1
3          1      0      4         1
4          0      1      0         0

In [22]:
# Creating test data

test_data = {'Home/Away': [1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0], 
              'Top25': [0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1], 
              'Media': ['NBC', 'NBC', 'ESPN', 'FOX', 'NBC', 'ABC', 
                        'NBC', 'NBC', 'NBC', 'ABC', 'NBC', 'ABC']}

test_labels = np.array([1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0])

test = pd.DataFrame(test_data)
test['Media'] = OrdinalEncoder(dtype=int).fit_transform(np.array(test['Media']).reshape(-1, 1))
test.head()

   Home/Away  Top25  Media
0          1      0      3
1          1      1      3
2          0      0      1
3          0      0      2
4          1      0      3

In [28]:
# Create and fit naive bayes classifier

model = GaussianNB()
model.fit(Xtrain, Ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [27]:
# Use model to make predictions on test set

preds = model.predict(test)
preds

array([1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0])

In [0]:
# Calculate metrics

accuracy = np.sum(test_labels == preds) / len(preds)
precision = metrics.precision_score(test_labels, preds)
recall = metrics.recall_score(test_labels, preds)
f1 = (2 * (precision * recall)) / (precision + recall)

In [30]:
print('Accuracy: {}%'.format(np.round(accuracy * 100, 2)))
print('Precision: {}%'.format(np.round(precision * 100, 2)))
print('Recall: {}%'.format(np.round(recall * 100, 2)))
print('F1 Score: {}%'.format(np.round(f1 * 100, 2)))

Accuracy: 75.0%
Precision: 100.0%
Recall: 66.67%
F1 Score: 80.0%